services:
  snaprtc:
    build: .
    container_name: snaprtc
    restart: unless-stopped
    ports:
      - 8200:8000
    environment:
      - RTC_HOST="rtsp://127.0.0.1:8554"
      # Optionally start on boot, the first invocation will always take ~15s
      - CAMERAS=""  # Camera1,Camera2